*,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

.wrapper {
  width: 100%;
}
.wrapper_content {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 2.4rem 1.6rem;
}

@media screen and (min-width: 1024px) {
  .wrapper_content {
    padding: 4.8rem 9.6rem;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.splash {
  height: 720px;
  background-image: url("/dist/images/splash-bg.png");
  background-image: url("../images/splash-bg.png");
  background-size: cover;
  position: relative;
  background-position: top;
}
.splash-header-main {
  line-height: 4.8rem;
  font-weight: 600;
  font-size: 3rem;
  padding-top: 11.2rem;
  padding-bottom: 7.2rem;
  text-transform: uppercase;
  color: #10143e;
  max-width: 343px;
}
.splash .clock {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.splash .clock .col {
  text-align: left;
  padding-right: 4rem;
}
.splash .clock .col h4 {
  line-height: 4.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: #10143e;
  text-transform: uppercase;
}
.splash .clock .col h4.label {
  font-size: 1.6rem;
  line-height: 4.2rem;
  font-weight: 600;
}
.splash .separator {
  position: absolute;
  width: 100%;
  height: 0;
  height: 4px;
  background: #10143e;
  bottom: 0;
  left: 0;
}
.splash .separator .fat_line {
  position: absolute;
  width: 201px;
  height: 12px;
  background: #10143e;
  bottom: 0;
  transform-origin: center;
  transform: translate(-50%, 0.4rem);
  left: 60%;
}
.splash .apply_btn {
  padding-top: 4rem;
}
.splash .social_bar {
  margin-top: 50px;
  max-width: 342px;
}

@media screen and (min-width: 768px) {
  .splash {
    background-image: url("../images/splash-bg-desktop.png");
    background-position: center top;
  }
  .splash-header-main {
    line-height: 8rem;
    font-weight: 600;
    font-size: 5.6rem;
    max-width: 1035px;
  }
}

@media screen and (min-width: 1024px) {
  .splash {
    background-image: url("../images/splash-bg-desktop.png");
    background-position: center top;
    height: 768px;
  }
  .splash .wrapper_content {
    position: relative;
  }
  .splash .social_bar {
    position: absolute;
    right: 0;
    flex-direction: column;
    top: 192px;
    right: 40px;
  }
  .splash .social_bar a {
    margin-bottom: 2.5rem;
  }
  .splash .separator .fat_line {
    position: absolute;
    width: 40%;
    height: 0;
    border: 0.6rem solid #10143e;
    bottom: 0;
    transform-origin: center;
    transform: translate(-50%, 0.4rem);
    left: 40%;
  }
}

.why_synapse {
  overflow: hidden;
}
@media (max-width: 1024px) {
  .why_synapse .wrapper_content {
    padding-bottom: 0;
  }
}
.why_synapse .content_flex {
  padding-top: 5.5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.why_synapse .content_flex .left_column {
  width: 100%;
}
.why_synapse .content_flex .left_column h2 {
  padding-bottom: 4.8rem;
  color: #10143e;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.8rem;
}
.why_synapse .content_flex .left_column p {
  font-size: 2rem;
  line-height: 3.2rem;
  color: #10143e;
  padding-bottom: 2.4rem;
}
.why_synapse .content_flex .right_column {
  display: flex;
  flex-wrap: wrap;
  color: #10143e;
  padding-top: 2.4rem;
}
.why_synapse .content_flex .right_column div {
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
}
.why_synapse .content_flex .right_column .statistics {
  padding-right: 2.4rem;
  width: fit-content;
}
.why_synapse .content_flex .right_column .statistics h3 {
  font-size: 2.4rem;
  line-height: 4.8rem;
  font-weight: 600;
}
.why_synapse .content_flex .right_column .statistics h4 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.why_synapse .content_flex .right_column .impressions h4 {
  line-height: 4.8rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.why_synapse .content_flex .right_column .impressions h5 {
  line-height: 4.8rem;
  font-size: 2.6rem;
  font-weight: 400;
}
.why_synapse .content_flex .right_column .actions {
  padding-right: 24px;
}
.why_synapse .content_flex .right_column .actions h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}
.why_synapse .content_flex .right_column .actions h5 {
  font-weight: normal;
  font-size: 26px;
  line-height: 48px;
}
.why_synapse .content_flex .right_column .users h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}
.why_synapse .content_flex .right_column .users h5 {
  font-weight: normal;
  font-size: 26px;
  line-height: 48px;
}
.why_synapse .content_flex .bottom_column {
  margin-top: 72px;
}
.why_synapse .content_flex .bottom_column h4 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  padding-bottom: 40px;
}
.why_synapse .content_flex .bottom_column h5 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  padding-bottom: 40px;
}
.why_synapse .content_flex .bottom_column .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.why_synapse .content_flex .bottom_column .logos img {
  height: auto;
  margin-bottom: 62px;
}
@media (max-width: 375px) {
  .why_synapse .content_flex .bottom_column .logos img {
    margin: auto;
    margin-bottom: 62px;
  }
  .why_synapse .content_flex .bottom_column .logos img:nth-of-type(odd) {
    margin: auto;
    margin-bottom: 62px;
  }
}
.why_synapse .content_flex .bottom_column .logos img:nth-of-type(odd) {
  margin-right: 57px;
}
@media (min-width: 475px) and (max-width: 1024px) {
  .why_synapse .content_flex .bottom_column .logos {
    width: 100%;
    justify-content: space-around;
  }
  .why_synapse .content_flex .bottom_column .logos img {
    margin: 0 62px 62px 62px !important;
  }
}
.why_synapse .content_flex .bottom_column .logos .dragon {
  width: 159px;
}
.why_synapse .content_flex .bottom_column .logos .dci {
  width: 98px;
}
.why_synapse .content_flex .bottom_column .logos .ico {
  width: 162px;
}
.why_synapse .content_flex .bottom_column .logos .moon {
  width: 123px;
}
.why_synapse .content_flex .bottom_column .logos .gfc {
  width: 48px;
}
.why_synapse .content_flex .bottom_column .logos .crypto {
  width: 113px;
}

@media screen and (min-width: 1024px) {
  .why_synapse .content_flex {
    padding-top: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .why_synapse .content_flex .left_column {
    width: 70%;
    margin-right: 13rem;
    max-width: 720px;
  }
  .why_synapse .content_flex .left_column h2 {
    font-size: 5.6rem;
    line-height: 8rem;
  }
  .why_synapse .content_flex .left_column p {
    font-size: 2.4rem;
    line-height: 4.2rem;
    padding-bottom: 3.2rem;
  }
  .why_synapse .content_flex .right_column {
    flex-direction: column;
    padding-top: 0;
    width: 30%;
  }
  .why_synapse .content_flex .right_column div {
    padding-right: 0;
    padding-bottom: 3.2rem;
  }
  .why_synapse .content_flex .right_column .statistics h3 {
    font-size: 56px;
    line-height: 80px;
  }
  .why_synapse .content_flex .right_column .statistics h4 {
    font-size: 96px;
    line-height: 120px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .why_synapse .content_flex .right_column .impressions h4 {
    font-size: 56px;
    line-height: 80px;
  }
  .why_synapse .content_flex .right_column .impressions h5 {
    font-size: 30px;
    line-height: 48px;
  }
  .why_synapse .content_flex .right_column .actions {
    padding-right: 24px;
  }
  .why_synapse .content_flex .right_column .actions h4 {
    font-size: 56px;
    line-height: 80px;
  }
  .why_synapse .content_flex .right_column .actions h5 {
    font-size: 30px;
    line-height: 48px;
  }
  .why_synapse .content_flex .right_column .users h4 {
    font-size: 56px;
    line-height: 80px;
  }
  .why_synapse .content_flex .right_column .users h5 {
    font-size: 30px;
    line-height: 48px;
  }
  .why_synapse .content_flex .bottom_column {
    width: 100%;
  }
  .why_synapse .content_flex .bottom_column h4 {
    font-size: 56px;
    line-height: 80px;
    padding-bottom: 64px;
  }
  .why_synapse .content_flex .bottom_column h5 {
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 88px;
    font-weight: 400;
  }
  .why_synapse .content_flex .bottom_column .logos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .why_synapse .content_flex .bottom_column .logos img {
    height: auto;
    margin: 0;
    margin-right: 62px !important;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1266px) {
  .why_synapse .content_flex .bottom_column .logos img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .why_synapse .content_flex .bottom_column .logos .dragon {
    width: 159px;
  }
  .why_synapse .content_flex .bottom_column .logos .dci {
    width: 98px;
  }
  .why_synapse .content_flex .bottom_column .logos .ico {
    width: 162px;
  }
  .why_synapse .content_flex .bottom_column .logos .moon {
    width: 123px;
  }
  .why_synapse .content_flex .bottom_column .logos .gfc {
    width: 48px;
  }
  .why_synapse .content_flex .bottom_column .logos .crypto {
    width: 113px;
  }
}

.product {
  color: #10143e;
  background-image: url("../images/product-bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
.product::before {
  content: url("../images/120px.png");
  position: absolute;
}
.product h4 {
  padding: 24px 0 40px;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
}
@media (max-width: 340px) {
  .product h4 {
    font-size: 58px;
  }
}
.product p {
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  padding-bottom: 40px;
}

@media (min-width: 1024px) {
  .product {
    background-image: url("../images/product-bg-desktop.png");
  }
  .product::before {
    display: none;
  }
  .product h4 {
    font-weight: bold;
    font-size: 170px;
    line-height: 320px;
  }
  .product p {
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
  }
}

@media (min-width: 1440px) {
  .product h4 {
    font-weight: bold;
    font-size: 260px;
    line-height: 320px;
  }
}

.accelerator {
  position: relative;
  height: 986px;
  overflow: hidden;
  background-image: url("../images/accelerator-bg-mobile.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.accelerator img {
  z-index: 0;
}
.accelerator img.bg {
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, 0);
  left: 50%;
}
.accelerator img.desktop {
  display: none;
}
.accelerator .top {
  top: -4px;
}
.accelerator .bottom {
  bottom: -4px;
}
.accelerator .content_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}
.accelerator .content_flex .column {
  width: 100%;
}
.accelerator .content_flex .column img {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 24px;
  width: 49px;
}
.accelerator .content_flex .column:nth-of-type(1) {
  padding-top: 40px;
}
.accelerator .content_flex .column:nth-of-type(1) p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.accelerator .content_flex .column:nth-of-type(1) p::after {
  left: 50%;
  bottom: -3px;
  content: "|";
  position: absolute;
  display: inline-block;
  font-weight: 300;
}
.accelerator .content_flex .column:nth-of-type(1) p.not::after {
  display: none;
}
.accelerator .content_flex .column:nth-of-type(2) {
  padding-top: 70px;
}
.accelerator .content_flex .column:nth-of-type(2) p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
  width: 235px;
}
.accelerator .content_flex .column:nth-of-type(2) .btn-read {
  padding: 12px 48px;
  display: inline-block;
  margin: auto;
  z-index: 9;
  background-color: #e39712;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #10143e;
}
.accelerator .content_flex .column:nth-of-type(3) {
  padding-top: 128px;
}
.accelerator .content_flex .column:nth-of-type(3) h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 24px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.accelerator .content_flex .column:nth-of-type(3) h4::after {
  left: 50%;
  bottom: -3px;
  content: "|";
  position: absolute;
  display: inline-block;
  font-weight: 300;
}
.accelerator .content_flex .column:nth-of-type(3) h4.light {
  font-weight: 400;
}
.accelerator .content_flex .column:nth-of-type(3) h4.not::after {
  display: none;
}

@media (min-width: 1200px) {
  .accelerator {
    position: relative;
    height: 813px;
    overflow: hidden;
    background-image: url("../images/accelerator-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  .accelerator {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .accelerator img.bg {
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, 0);
    left: 50%;
  }
  .accelerator img.mobile {
    display: none;
  }
  .accelerator img.desktop {
    display: block;
  }
  .accelerator img.left {
    position: absolute;
    transform-origin: center;
    transform: translate(0, -50%);
    right: calc(50% - 260px);
    bottom: -28%;
  }
  .accelerator img.right {
    position: absolute;
    transform-origin: center;
    transform: translate(0, -50%);
    left: calc(50% - 250px);
    bottom: -15%;
  }
  .accelerator .top {
    top: -4px;
  }
  .accelerator .bottom {
    bottom: -4px;
  }
  .accelerator .content_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    min-height: 690px;
    align-items: center;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  .accelerator .content_flex {
    height: 1000px;
  }
}

@media (min-width: 1200px) {
  .accelerator .content_flex .column img {
    position: relative;
    display: block;
    margin: auto;
    margin-bottom: 24px;
    width: 88px;
  }
  .accelerator .content_flex .column:nth-of-type(1) {
    padding-top: 0;
    width: 20%;
    margin-right: 10%;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  .accelerator .content_flex .column:nth-of-type(1) {
    margin-right: 18%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .accelerator .content_flex .column:nth-of-type(1) p {
    text-align: right;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    display: inline-block;
    width: 100%;
    margin-bottom: 36px;
    position: relative;
    padding-bottom: 0;
  }
  .accelerator .content_flex .column:nth-of-type(1) p::after {
    right: -50px;
    left: auto;
    bottom: auto;
    top: 4px;
    content: url("../images/arrow-right.png");
    position: absolute;
    display: inline-block;
    font-weight: 300;
    width: 16px;
    height: auto;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(1) {
    margin-top: 30px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(1),
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(5) {
    padding-right: 0;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(3) {
    padding-right: 70px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(3):after {
    right: 30px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(2),
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(4) {
    padding-right: 40px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(2):after,
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(4):after {
    right: -10px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(5):after,
  .accelerator .content_flex .column:nth-of-type(1) p:nth-of-type(4):after {
    top: 22px;
  }
  .accelerator .content_flex .column:nth-of-type(1) p.not::after {
    display: block;
  }
  .accelerator .content_flex .column:nth-of-type(2) {
    padding-top: 0;
    width: 40%;
  }
  .accelerator .content_flex .column:nth-of-type(2) p {
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    position: relative;
    display: inline-block;
    width: 435px;
  }
  .accelerator .content_flex .column:nth-of-type(2) .btn-read {
    padding: 12px 48px;
    display: inline-block;
    margin: auto;
    background-color: #e39712;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #10143e;
  }
  .accelerator .content_flex .column:nth-of-type(3) {
    padding-top: 0;
    width: 30%;
  }
}
@media (min-width: 1200px) and (min-width: 1920px) {
  .accelerator .content_flex .column:nth-of-type(3) {
    min-width: 600px;
  }
}

@media (min-width: 1200px) {
  .accelerator .content_flex .column:nth-of-type(3) h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 56px;
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .accelerator .content_flex .column:nth-of-type(3) h4::after {
    left: 50%;
    bottom: 10px;
    content: "|";
    position: absolute;
    display: inline-block;
    font-weight: 300;
  }
  .accelerator .content_flex .column:nth-of-type(3) h4.light {
    font-weight: 400;
  }
  .accelerator .content_flex .column:nth-of-type(3) h4.not::after {
    display: none;
  }
}

.cards {
  background-color: #ffd384;
}
.cards .wrapper_content {
  position: relative;
  padding: 0;
}
.cards .wrapper_content .slider_nav {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  position: relative;
  overflow-x: auto !important;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.cards .wrapper_content .slider_nav::-webkit-scrollbar {
  visibility: hidden !important;
}

@-moz-document url-prefix() {
  .cards .wrapper_content .slider_nav {
    scrollbar-width: none;
  }
}
.cards .wrapper_content .slider_nav a {
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  color: #10143e;
  white-space: nowrap;
  background: none;
  transition: 0.5s;
  position: relative;
}
@media (max-width: 1024px) {
  .cards .wrapper_content .slider_nav a {
    margin-right: 20px;
  }
}
.cards .wrapper_content .slider_nav a.active {
  background: #fff;
  font-weight: 600;
  padding-left: 32px;
  padding-right: 8px;
  border-radius: 4px;
}
.cards .wrapper_content .slider_nav a.active:before {
  opacity: 0;
  animation: slowDown;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: absolute;
  content: " ";
  display: inline-block;
  width: 16px;
  height: 0;
  border: 8px solid #10143e;
  left: 8px;
  top: 12px;
}
.cards .wrapper_content .slider {
  display: flex;
  width: 100%;
  display: flex;
  margin: auto;
  position: relative;
  overflow-x: auto !important;
  overflow-y: hidden;
}
.cards .wrapper_content .slider::-webkit-scrollbar {
  visibility: hidden !important;
}

@-moz-document url-prefix() {
  .cards .wrapper_content .slider {
    scrollbar-width: none;
  }
}
.cards .wrapper_content .slider .product_card {
  width: 100% !important;
  min-width: 100%;
  height: fit-content;
  display: flex;
  padding: 16px;
  margin-right: 16px;
  flex-direction: column;
  position: relative;
}
.cards .wrapper_content .slider .product_card img {
  position: relative;
  width: 120px;
  height: auto;
  margin-bottom: 42px;
}
.cards .wrapper_content .slider .product_card h4 {
  position: relative;
  font-size: 3rem;
  line-height: 4.8rem;
  font-weight: 600;
  z-index: 2;
}
.cards .wrapper_content .slider .product_card h5 {
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  padding-bottom: 40px;
  z-index: 2;
}
.cards .wrapper_content .slider .product_card p {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  z-index: 2;
  max-width: 824px;
}
.cards .wrapper_content .slider .product_card p:first-of-type {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .cards .wrapper_content {
    padding: 48px 96px;
  }
}

@media (min-width: 1024px) {
  .cards {
    position: relative;
  }
  .cards .wrapper_content {
    padding: 48px 96px;
  }
  .cards .wrapper_content .slider .product_card h4 {
    font-size: 44px;
    line-height: 64px;
  }
  .cards .wrapper_content .slider .product_card h5 {
    font-size: 30px;
    line-height: 48px;
  }
  .cards .wrapper_content .slider .product_card img {
    position: absolute;
    width: 300px;
    top: 80px;
    right: 0;
  }
}

@keyframes slowDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos img {
  height: auto;
  margin-bottom: 62px;
}
@media (max-width: 375px) {
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos img {
    margin: auto;
    margin-bottom: 62px;
  }
  .cross-chain
    .wrapper_content:nth-last-of-type(1)
    .bottom_column
    .logos
    img:nth-of-type(odd) {
    margin: auto;
    margin-bottom: 62px;
  }
}
.cross-chain
  .wrapper_content:nth-last-of-type(1)
  .bottom_column
  .logos
  img:nth-of-type(odd) {
  margin-right: 57px;
}
@media (min-width: 475px) and (max-width: 1024px) {
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos {
    width: 100%;
    justify-content: space-around;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos img {
    margin: 0 62px 62px 62px !important;
  }
}
.cross-chain
  .wrapper_content:nth-last-of-type(1)
  .bottom_column
  .logos
  .dragon {
  width: 159px;
}
.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .dci {
  width: 98px;
}
.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .ico {
  width: 162px;
}
.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .moon {
  width: 123px;
}
.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .gfc {
  width: 48px;
}
.cross-chain
  .wrapper_content:nth-last-of-type(1)
  .bottom_column
  .logos
  .crypto {
  width: 113px;
}

.cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column img {
  opacity: 0.65;
}

.cross-chain .wrapper_content:first-of-type .bottom_column .logos {
  width: 100%;
  max-width: 1014px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos img {
  height: auto;
  margin-bottom: 20px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .dragon {
  width: 159px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .dci {
  width: 98px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .ico {
  width: 162px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .moon {
  width: 123px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .gfc {
  width: 48px;
}
.cross-chain .wrapper_content:first-of-type .bottom_column .logos .crypto {
  width: 113px;
}

.cross-chain .bottom_column {
  width: 100%;
  padding-top: 48px;
}
.cross-chain .bottom_column h4 {
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 64px;
}
.cross-chain .bottom_column p {
  font-size: 24px;
  line-height: 42px;
  padding-bottom: 88px;
  font-weight: 400;
}
.cross-chain .bottom_column .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}
@media (min-width: 525px) {
  .cross-chain .bottom_column .row {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1024px) {
  .cross-chain .wrapper_content:nth-last-of-type(1) {
    padding-top: 0;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos img {
    height: auto;
    margin: 0;
    margin-right: 62px !important;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1266px) {
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .cross-chain
    .wrapper_content:nth-last-of-type(1)
    .bottom_column
    .logos
    .dragon {
    width: 159px;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .dci {
    width: 98px;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .ico {
    width: 162px;
  }
  .cross-chain
    .wrapper_content:nth-last-of-type(1)
    .bottom_column
    .logos
    .moon {
    width: 123px;
  }
  .cross-chain .wrapper_content:nth-last-of-type(1) .bottom_column .logos .gfc {
    width: 48px;
  }
  .cross-chain
    .wrapper_content:nth-last-of-type(1)
    .bottom_column
    .logos
    .crypto {
    width: 113px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cross-chain
    .wrapper_content:first-of-type
    .bottom_column
    .logos
    .row:nth-last-of-type(1)
    img:nth-last-of-type(1) {
    margin-right: 0;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos img {
    height: auto;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos img {
    margin-right: 62px;
  }
}

@media screen and (min-width: 1024px) {
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .dragon {
    width: 159px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .dci {
    width: 98px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .ico {
    width: 162px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .moon {
    width: 123px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .gfc {
    width: 48px;
  }
  .cross-chain .wrapper_content:first-of-type .bottom_column .logos .crypto {
    width: 113px;
  }
  .cross-chain .bottom_column {
    width: 100%;
  }
  .cross-chain .bottom_column h4 {
    font-size: 56px;
    line-height: 80px;
    padding-bottom: 64px;
  }
  .cross-chain .bottom_column p {
    font-size: 24px;
    line-height: 42px;
    padding-bottom: 88px;
    font-weight: 400;
  }
  .cross-chain .bottom_column .row {
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
}

.road_map {
  background-image: url("../images/road_map_bg_mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  overflow: hidden;
}
.road_map .separator {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #10143e;
  top: 196px;
  left: 0;
}
.road_map .separator .fat_line {
  position: absolute;
  width: 104px;
  height: 0;
  height: 12px;
  background: #10143e;
  bottom: 0;
  transform-origin: center;
  transform: translate(-50%, 0.4rem);
  left: 68px;
}
.road_map h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  text-transform: capitalize;
}
.road_map .flex_box {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}
.road_map .flex_box .flex_item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 48px;
}
.road_map .flex_box .flex_item.phase-1 h3 {
  position: relative;
  display: inline-block;
}
.road_map .flex_box .flex_item.phase-1 h3::after {
  content: url("../images/done_ico.svg");
  display: inline-block;
  position: relative;
  width: 104px;
  height: 38px;
  right: -20px;
  top: 8px;
}
.road_map .flex_box .flex_item.phase-4,
.road_map .flex_box .flex_item.phase-5 {
  position: relative;
}
.road_map .flex_box .flex_item.phase-4::after,
.road_map .flex_box .flex_item.phase-5::after {
  position: absolute;
  content: "";
  top: 60px;
  left: -16px;
  width: 100vw;
  height: 4px;
  background: #10143e;
}
.road_map .flex_box .flex_item ul {
  padding: 72px 0 72px 32px;
  list-style: none;
}
.road_map .flex_box .flex_item ul li {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #10143e;
  position: relative;
}
.road_map .flex_box .flex_item ul li::before {
  content: "\002E";
  display: inline-block;
  position: absolute;
  left: -25px;
  font-size: 48px;
  line-height: 5px;
  top: 0;
}
.road_map .flex_box .flex_item ul li.done {
  color: #e39712;
}
.road_map .flex_box .flex_item ul li.done::before {
  display: inline-block;
  content: url("../images/checkmark.svg");
  position: absolute;
  left: -30px;
  top: 0;
  font-size: 20px;
  line-height: 32px;
}
.road_map .go_live_abs {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 24px;
}
.road_map .go_live_abs .ico {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
}
.road_map .go_live_abs .ico .wallet,
.road_map .go_live_abs .ico .mobile,
.road_map .go_live_abs .ico .desktop {
  width: 32px;
  height: 32px;
}
.road_map .go_live_abs .go_live {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}

@media screen and (min-width: 375px) {
  .road_map {
    background-image: url("../images/road_map_bg_mobile.png");
    background-size: 100% 33%;
  }
}

@media screen and (min-width: 768px) {
  .road_map {
    background-image: url("../images/road_map_bg_desktop.png");
  }
  .road_map .flex_box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .road_map .flex_box .flex_item {
    width: 50%;
  }
  .road_map .flex_box .flex_item.phase-4::after {
    display: none;
  }
  .road_map .flex_box .flex_item.phase-5::after {
    left: -96px;
    width: 50vw;
  }
  .road_map .flex_box .flex_item ul li {
    font-size: 24px;
    line-height: 42px;
  }
  .road_map .flex_box .flex_item ul li.done::before {
    left: -30px;
    top: 0;
    font-size: 20px;
    line-height: 46px;
  }
  .road_map .flex_box .flex_item ul li::before {
    line-height: 18px;
  }
}

@media screen and (min-width: 1330px) {
  .road_map {
    background-image: url("../images/road_map_bg_desktop.png");
    background-size: 153% 63%;
  }
  .road_map .separator {
    border: 0.2rem solid #10143e;
    top: 330px;
  }
  .road_map .separator .fat_line {
    position: absolute;
    width: 400px;
    transform: translate(0, 0.6rem);
    left: 96px;
  }
  .road_map h3 {
    font-size: 56px;
    line-height: 80px;
  }
  .road_map .flex_box {
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 96px;
  }
  .road_map .flex_box .flex_item {
    width: 33%;
    padding-right: 16px;
  }
  .road_map .flex_box .flex_item ul {
    padding: 112px 0 96px 32px;
  }
  .road_map .flex_box .flex_item.phase-1 {
    width: 31%;
  }
  .road_map .flex_box .flex_item.phase-2 {
    width: 36%;
  }
  .road_map .flex_box .flex_item.phase-3 {
    width: 33%;
  }
  .road_map .flex_box .flex_item.phase-4::after {
    display: block;
    left: -96px;
    width: 70vw;
  }
  .road_map .flex_box .flex_item.phase-5::after {
    display: none;
  }
  .road_map .go_live_abs {
    margin-top: -40px;
  }
  .road_map .go_live_abs .ico {
    width: 206px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 48px;
  }
  .road_map .go_live_abs .ico .wallet,
  .road_map .go_live_abs .ico .mobile,
  .road_map .go_live_abs .ico .desktop {
    width: 47px;
    height: 47px;
  }
  .road_map .go_live_abs .go_live {
    font-size: 56px;
    line-height: 80px;
  }
}

@media screen and (min-width: 1440px) {
  .road_map {
    background-image: url("../images/road_map_bg_desktop.png");
    background-size: contain;
  }
  .road_map .separator .fat_line {
    position: absolute;
    width: 400px;
    transform: translate(0, 0.6rem);
    left: calc(((100vw - 1440px) / 2) + 96px);
  }
  .road_map .flex_box .flex_item {
    width: 33%;
    padding-right: 16px;
  }
  .road_map .flex_box .flex_item.phase-4::after {
    display: block;
    left: calc(-96px + ((100vw - 1440px) / -2));
  }
}

footer {
  background-color: #ffd384;
  width: 100%;
}
footer .wrapper_content {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
}
footer .wrapper_content .logo_wrapper {
  margin-bottom: 60px;
}
footer .wrapper_content .logo_wrapper img {
  width: 133px;
  height: auto;
}
footer .wrapper_content .social_bar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 72px;
}
footer .wrapper_content .social_bar a img {
  width: 30px;
}

@media (min-width: 768px) {
  footer .wrapper_content {
    flex-direction: row;
    display: flex;
  }
  footer .wrapper_content .logo_wrapper {
    margin-bottom: 0;
  }
  footer .wrapper_content .social_bar {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 0;
  }
  footer .wrapper_content .social_bar a {
    margin: 0 10px;
  }
  footer .wrapper_content .social_bar a:not(:nth-last-of-type(1)) {
    margin-right: 62px;
  }
}

.team .wrapper_content {
  position: relative;
}
.team .wrapper_content:nth-of-type(1) {
  padding-top: 0;
  padding-bottom: 0;
}
.team .wrapper_contentnth:nth-of-type(2) {
  padding-top: 0;
}

.team h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  padding: 72px 0;
}

.team .hidden-card {
  opacity: 0;
  position: absolute;
  width: calc(100% -48px);
  min-width: calc(100vw - 48px);
  height: 100%;
  top: 24px;
  left: 0;
  z-index: 0;
  overflow: auto;
}
.team .hidden-card.active {
  position: fixed;
  transition: 0.5s;
  opacity: 1;
  z-index: 99;
}
.team .hidden-card .close__card_btn {
  position: absolute;
  right: 12px;
  top: 26px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.team .hidden-card .close__card_btn div {
  height: 2px;
  background: #10143e;
  position: relative;
  border-radius: 2px;
  z-index: 9;
}
.team .hidden-card .close__card_btn div:nth-of-type(1) {
  transform: rotate(45deg);
  top: -4px;
}
.team .hidden-card .close__card_btn div:nth-of-type(2) {
  top: -6px;
  transform: rotate(315deg);
}
.team .hidden-card .card_content_wrapper {
  padding: 16px;
  position: relative;
  background: #dee0d9;
  margin: auto;
  width: calc(100% - 24px);
}
.team .hidden-card h3 {
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  text-transform: capitalize;
  margin-bottom: 9px;
}
.team .hidden-card h4 {
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 9px;
}
.team .hidden-card p {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
}
.team .hidden-card .social_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.team .hidden-card .social_wrapper a {
  margin-right: 65px;
  color: #e39712;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 39px;
}
.team .hidden-card .social_wrapper a img {
  width: 30px;
  height: auto;
}

.team .member_card {
  width: 100%;
  max-width: 400px;
  min-height: 208px;
  text-align: left;
  border: 3px solid #10143e;
  position: relative;
  padding-left: 24px;
  padding-top: 10px;
  margin: 0 auto 24px;
}
@media (max-width: 340px) {
  .team .member_card {
    padding-left: 10px;
  }
}
.team .member_card .name {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 48px;
}
.team .member_card .img_container {
  background: #10143e;
  position: absolute;
  right: -3px;
  top: 0;
  width: 83px;
  height: 108px !important;
  overflow: visible;
}
.team .member_card .img_container img {
  position: absolute;
  bottom: -3px;
  width: 83px;
}
.team .member_card .img_container img.crypto {
  bottom: 29px;
  width: 78px;
  height: 66px;
  left: 2px;
}
.team .member_card .role {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
  text-transform: uppercase;
}
.team .member_card h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e39712;
}
.team .member_card svg {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

@media (min-width: 768px) {
  .team h3 {
    padding: 100px 0;
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
  }
  .team .wrapper_content {
    position: relative;
  }
  .team .wrapper_content:nth-of-type(2) .hidden-card {
    top: -500px;
  }
  .team .hidden-card {
    width: 100%;
    min-width: 100%;
    top: 220px;
    left: 0;
    height: 0;
    overflow: hidden;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team .hidden-card {
    top: 250px;
  }
}

@media (min-width: 768px) {
  .team .hidden-card.active {
    position: absolute;
    height: fit-content;
  }
  .team .hidden-card .card_content_wrapper {
    padding: 92px 103px;
  }
  .team .hidden-card .card_content_wrapper h3 {
    font-size: 56px;
    line-height: 80px;
  }
  .team .hidden-card .card_content_wrapper h4 {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 43px;
  }
  .team .hidden-card .card_content_wrapper p {
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
  }
  .team .hidden-card .card_content_wrapper .close__card_btn {
    top: 37px;
    right: 37px;
  }
  .team .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .team .flex-container .member_card {
    margin: 0;
    margin-bottom: 24px;
    margin-right: 24px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .team .flex-container .member_card:nth-of-type(3n + 2) {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .team .flex-container.advisor {
    justify-content: flex-start;
  }
}

.tokenomics {
  margin: 72px 0;
  background-image: url("../images/token_bg_mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 5%;
  overflow: hidden;
  position: relative;
}
@media (min-width: 450px) {
  .tokenomics {
    background-position: center -100px;
  }
}
@media (min-width: 650px) {
  .tokenomics {
    background-position: center -150px;
  }
}
.tokenomics .separator {
  position: absolute;
  width: 100%;
  height: 4px;
  background: #10143e;
  top: 96px;
  left: 60%;
}
.tokenomics .separator .fat_line {
  height: 8px;
  width: 46px;
  margin-top: -2px;
  background: #10143e;
}
.tokenomics .wrapper_content h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  margin-bottom: 8px;
}
.tokenomics .wrapper_content h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
}
.tokenomics .wrapper_content h4 a {
  color: #10143e;
}
.tokenomics .wrapper_content h5 {
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
}
.tokenomics .wrapper_content .content_two_column {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px -16px 0;
}
.tokenomics .wrapper_content .content_two_column canvas {
  width: 100%;
  max-width: 220px;
  height: 403px;
  margin: auto;
}
@media (max-width: 375px) {
  .tokenomics .wrapper_content .content_two_column canvas {
    width: 220px;
  }
}
.tokenomics .wrapper_content .content_two_column .col.chart {
  margin-bottom: 80px;
  position: relative;
  width: 100%;
}
@media (max-width: 374px) {
  .tokenomics .wrapper_content .content_two_column .col.chart span {
    display: none;
  }
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label {
  opacity: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  text-transform: uppercase;
  animation: show;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label .number {
  font-weight: 400;
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-a {
  text-align: right;
  top: -56px;
  left: calc(50% - 53px);
  width: 53px;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.chart
  span.label.liquidity {
  width: 134px;
  height: 40px;
  top: -55px;
  left: calc(50% + 50px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.seed {
  width: 61px;
  top: 0px;
  left: calc(50% + 85px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.exch {
  width: 74px;
  top: 34px;
  left: calc(50% + 104px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-b {
  width: 50px;
  top: 70px;
  left: calc(50% + 110px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.comm {
  width: 80px;
  top: 125px;
  left: calc(50% + 110px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.rss {
  width: 71px;
  left: calc(50% + 55px);
  bottom: -60px;
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.team {
  width: 40px;
  text-align: right;
  bottom: -50px;
  left: calc(50% - 40px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.reserve {
  text-align: right;
  bottom: 0px;
  left: calc(50% - 145px);
  width: 52px;
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.market {
  text-align: right;
  bottom: 100px;
  left: calc(50% - 160px);
  width: 42px;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.chart
  span.label.advisors {
  width: 62px;
  text-align: right;
  top: 10px;
  left: calc(50% - 155px);
}
.tokenomics .wrapper_content .content_two_column .col.chart span.label.rwds {
  top: -50px;
  text-align: right;
  left: calc(50% - 150px);
  width: 92px;
}
.tokenomics .wrapper_content .content_two_column .col.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tokenomics .wrapper_content .content_two_column .col.table .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 4px 16px;
}
.tokenomics .wrapper_content .content_two_column .col.table .row.head {
  border-bottom: 4px solid #10143e;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row.body:not(:nth-last-of-type(1)) {
  border-bottom: 2px solid #10143e;
}
.tokenomics .wrapper_content .content_two_column .col.table .row .col {
  display: flex;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row
  .col:nth-of-type(1) {
  width: 130px;
}
@media (max-width: 400px) {
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.table
    .row
    .col:nth-of-type(1) {
    width: 60px;
  }
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row
  .col:nth-of-type(2) {
  width: 25px;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row
  .col:nth-of-type(3) {
  width: 34px;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row
  .col:nth-of-type(4) {
  width: 21px;
}
.tokenomics
  .wrapper_content
  .content_two_column
  .col.table
  .row
  .col:nth-of-type(5) {
  width: 34px;
}
.tokenomics .wrapper_content .content_two_column .col.table .row .col h6,
.tokenomics .wrapper_content .content_two_column .col.table .row .col div {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  text-align: left;
}

@media (min-width: 1024px) {
  .tokenomics {
    position: relative;
    background: none;
  }
  .tokenomics .separator {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #10143e;
    top: 155px;
    left: 50%;
  }
  .tokenomics .separator .fat_line {
    height: 8px;
    width: 129px;
    margin-top: -2px;
    background: #10143e;
  }
  .tokenomics .wrapper_content {
    background-image: url("../images/kurwa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -200px 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .tokenomics .wrapper_content {
    background-position: 24% 100px;
  }
}

@media (min-width: 1024px) {
  .tokenomics .wrapper_content .mobile {
    display: none;
  }
  .tokenomics .wrapper_content h3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
  }
  .tokenomics .wrapper_content h4 {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
  }
  .tokenomics .wrapper_content h4::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: right;
    transform: translate(-100%, 0);
    left: -56px;
    top: 16px;
    height: 12px;
    width: 100%;
    background-color: #10143e;
  }
  .tokenomics .wrapper_content h5 {
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
  }
  .tokenomics .wrapper_content .content_two_column {
    flex-direction: row;
    margin: 0 -96px;
  }
  .tokenomics .wrapper_content .content_two_column canvas {
    max-width: 300px;
    z-index: 4;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: visible;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart .bg {
    position: absolute;
    z-index: -10;
    width: 450px;
    height: auto;
    top: -100px;
    left: 180px;
  }
}
@media (min-width: 1024px) and (max-width: 374px) {
  .tokenomics .wrapper_content .content_two_column .col.chart span {
    display: none;
  }
}

@media (min-width: 1024px) {
  .tokenomics .wrapper_content .content_two_column .col.chart span.label {
    opacity: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    text-transform: uppercase;
    animation: show;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label
    .number {
    font-weight: 400;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-a {
    text-align: right;
    top: -56px;
    left: calc(50% - 53px);
    width: 53px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.liquidity {
    width: 134px;
    height: 40px;
    top: -55px;
    left: calc(50% + 50px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.seed {
    width: 61px;
    top: -10px;
    left: calc(50% + 95px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.exch {
    width: 74px;
    top: 34px;
    left: calc(50% + 134px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-b {
    width: 50px;
    top: 80px;
    left: calc(50% + 150px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.comm {
    width: 80px;
    top: 145px;
    left: calc(50% + 150px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.rss {
    width: 71px;
    left: calc(50% + 75px);
    bottom: -50px;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.team {
    width: 40px;
    text-align: right;
    bottom: -50px;
    left: calc(50% - 40px);
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.reserve {
    text-align: right;
    bottom: 20px;
    left: calc(50% - 185px);
    width: 52px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.market {
    text-align: right;
    bottom: 130px;
    left: calc(50% - 200px);
    width: 42px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.advisors {
    width: 62px;
    text-align: right;
    top: 15px;
    left: calc(50% - 175px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.rwds {
    top: -45px;
    text-align: right;
    left: calc(50% - 155px);
    width: 92px;
  }
  .tokenomics .wrapper_content .content_two_column .col.table {
    max-width: 617px;
  }
}

@media (min-width: 1440px) {
  .tokenomics {
    position: relative;
    background: none;
    margin-top: 48px;
  }
  .tokenomics .separator {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #10143e;
    top: 155px;
    left: 50%;
  }
  .tokenomics .separator .fat_line {
    height: 8px;
    width: 129px;
    margin-top: -2px;
    background: #10143e;
  }
  .tokenomics .wrapper_content .mobile {
    display: none;
  }
  .tokenomics .wrapper_content h3 {
    font-weight: 600;
    font-size: 56px;
    line-height: 80px;
  }
  .tokenomics .wrapper_content h4 {
    position: relative;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
  }
  .tokenomics .wrapper_content h4::after {
    content: "";
    display: block;
    position: absolute;
    transform-origin: right;
    transform: translate(-100%, 0);
    left: -56px;
    top: 16px;
    height: 12px;
    width: 100%;
    background-color: #10143e;
  }
  .tokenomics .wrapper_content h5 {
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
  }
  .tokenomics .wrapper_content .content_two_column {
    flex-direction: row;
    margin: 56px -96px 0;
  }
  .tokenomics .wrapper_content .content_two_column canvas {
    max-width: 380px;
    z-index: 4;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart {
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: visible;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart .bg {
    position: absolute;
    z-index: -10;
    width: 450px;
    height: auto;
    top: -100px;
    left: 180px;
  }
}
@media (min-width: 1440px) and (max-width: 374px) {
  .tokenomics .wrapper_content .content_two_column .col.chart span {
    display: none;
  }
}

@media (min-width: 1440px) {
  .tokenomics .wrapper_content .content_two_column .col.chart span.label {
    opacity: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    text-transform: uppercase;
    animation: show;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label
    .number {
    font-weight: 400;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-a {
    text-align: right;
    top: -90px;
    left: calc(50% - 60px);
    width: 70px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.liquidity {
    width: 174px;
    height: 40px;
    top: -85px;
    left: calc(50% + 50px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.seed {
    width: 82px;
    top: -20px;
    left: calc(50% + 120px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.exch {
    width: 99px;
    top: 34px;
    left: calc(50% + 184px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.prv-b {
    width: 123px;
    top: 110px;
    left: calc(50% + 200px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.comm {
    width: 177px;
    top: 165px;
    left: calc(50% + 200px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.rss {
    width: 71px;
    left: calc(50% + 130px);
    bottom: -60px;
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.team {
    width: 40px;
    text-align: right;
    bottom: -70px;
    left: calc(50% - 50px);
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.reserve {
    text-align: right;
    bottom: 20px;
    left: calc(50% - 240px);
    width: 52px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.market {
    text-align: right;
    bottom: 210px;
    left: calc(50% - 350px);
    width: 142px;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.market
    .mobile-show {
    display: none;
  }
  .tokenomics
    .wrapper_content
    .content_two_column
    .col.chart
    span.label.advisors {
    width: 80px;
    text-align: right;
    top: 15px;
    left: calc(50% - 225px);
  }
  .tokenomics .wrapper_content .content_two_column .col.chart span.label.rwds {
    top: -65px;
    text-align: right;
    left: calc(50% - 180px);
    width: 100px;
  }
  .tokenomics .wrapper_content .content_two_column .col.table {
    max-width: 617px;
  }
}

nav {
  position: fixed;
  z-index: 9;
  transition: 0.5s;
}
nav.sticky {
  top: 0;
  width: 100%;
  background: #fff;
  transition: 0.5s;
}
nav.sticky .wrapper_content {
  transition: 0.5s;
}
nav.sticky .wrapper_content .logo_wrapper .sticky {
  opacity: 1;
}
nav.sticky .wrapper_content .logo_wrapper .no-sticky {
  opacity: 0;
}
nav.sticky .wrapper_content .logo_wrapper a {
  position: absolute;
  right: 56px;
  top: 22px;
  transition: opacity 0.5s;
  height: auto;
  opacity: 1;
  text-transform: uppercase;
}
nav .wrapper_content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 8px;
}
nav .logo_wrapper {
  width: fit-content;
  z-index: 2;
}
nav .logo_wrapper img {
  width: 89px;
  height: auto;
}
nav .logo_wrapper a {
  height: 0;
  opacity: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e39712;
  z-index: 3;
}
nav .logo_wrapper a.active {
  display: none;
}
nav .logo_wrapper .sticky {
  opacity: 0;
  transition: 0.5s;
  fill: #10143e;
}
nav .logo_wrapper .no-sticky {
  transition: 0.5s;
  position: absolute;
  left: 16px;
  opacity: 1;
}
nav .menu_wrapper.mobile {
  position: absolute;
  transform: translatex(100%);
  top: 0;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  padding-top: 100px;
  color: #000 !important;
  background: #dee0d9ff;
  padding-left: 16px;
  padding-right: 16px;
  transition: 0.4s;
  z-index: 1;
}
nav .menu_wrapper.mobile .apply {
  margin: auto;
}
nav .menu_wrapper.mobile .menu_wrapper_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 900px;
  max-height: 80vh;
  max-width: 425px;
  margin: auto;
}
nav .menu_wrapper.mobile .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 280px;
}
nav .menu_wrapper.mobile .menu a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #10143e;
}
nav .menu_wrapper.mobile.active {
  transform: translatex(-16px);
}
nav .menu_wrapper.desktop {
  display: none;
}
nav .menu_burger {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 24px;
  left: calc(100vw - 40px);
  z-index: 9;
}
nav .menu_burger div {
  transition: 0.5s;
  border: 1px solid #10143e;
  border-radius: 2px;
  position: relative;
  width: 100%;
  height: 0;
  z-index: 2;
}
nav .menu_burger div:nth-last-of-type(2) {
  top: 6px;
}
nav .menu_burger div:nth-last-of-type(3) {
  top: 12px;
}
nav .menu_burger.active div:nth-last-of-type(1) {
  transform: rotate(45deg);
}
nav .menu_burger.active div:nth-last-of-type(2) {
  opacity: 0;
}
nav .menu_burger.active div:nth-last-of-type(3) {
  transform: rotate(-45deg);
  top: 4px;
}

@media screen and (min-width: 768px) {
  nav .logo_wrapper img {
    width: 178px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  nav.sticky {
    top: 0;
    width: 100%;
    background: #fff;
    transition: 0.5s;
  }
  nav.sticky .wrapper_content {
    padding: 16px 48px;
  }
  nav.sticky .wrapper_content .logo_wrapper .sticky {
    opacity: 1;
  }
  nav.sticky .wrapper_content .logo_wrapper .no-sticky {
    opacity: 1;
    transform: scale(1);
  }
  nav.sticky .wrapper_content .logo_wrapper a {
    position: absolute;
    display: block;
    right: 56px;
    top: 29px;
    transition: opacity 0.5s;
    height: auto;
    opacity: 1;
    text-transform: uppercase;
  }
  nav .menu_burger {
    display: none;
  }
  nav .wrapper_content {
    position: relative;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 40px 48px 16px;
  }
  nav .logo_wrapper a {
    display: none;
  }
  nav .logo_wrapper .sticky {
    display: none;
  }
  nav .logo_wrapper .no-sticky {
    transition: 0.5s;
    transform: scale(2);
    position: relative;
    opacity: 1;
    margin-right: 42px;
  }
  nav .menu_wrapper.mobile {
    display: none;
  }
  nav .menu_wrapper.desktop {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  nav .menu_wrapper.desktop {
    padding-left: 6.4rem;
  }
}

@media screen and (min-width: 1024px) {
  nav .menu_wrapper.desktop a {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.44rem;
    color: #10143e;
    padding-left: 3.2rem;
  }
}

.apply_btn button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 26px;
  background: #e39712;
  width: 100%;
  height: 48px;
  max-width: 100%;
}
.apply_btn button.apply,
.apply_btn button a {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  color: #10143e;
}

@media screen and (min-width: 768px) {
  .apply_btn button {
    max-width: 343px;
  }
}

.social_bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.social_bar a {
  cursor: pointer;
  width: 2.2rem;
}
.social_bar a path {
  width: 100%;
  height: auto;
}
.social_bar a.github {
  width: 1.7rem;
}
